# ==============================================================================
# Passa Aqui - Environment Variables
# ==============================================================================

# PostgreSQL
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=passaaqui
POSTGRES_PORT=5432

# Redis
REDIS_PORT=6379
REDIS_PASSWORD=

# MinIO (S3 Object Storage)
MINIO_ROOT_USER=root
MINIO_ROOT_PASSWORD=root@123
MINIO_PORT=9000
MINIO_CONSOLE_PORT=9001
MINIO_URL=http://minio:9000
MINIO_URL_EXTERNAL=http://localhost:9000
MINIO_BUCKET_NAME=passaaqui-bucket

# Backend Application
BACKEND_PORT=8080
JWT_SECRET=WIT7xsOCEKXtRi3mQA1ZMsOc5wMODgTXimEvVbbNBNm

# Integrações Externas
ABACATEPAY_API_KEY=abc_dev_qKYZEFLXu4PEcKPAFtH4Tkt2
ABACATEPAY_WEBHOOK_SECRET=testes
OPENROUTESERVICE_API_KEY=eyJvcmciOiI1YjNjZTM1OTc4NTExMTAwMDFjZjYyNDgiLCJpZCI6ImZlNjc1ZDlmZTFmZDRmMjA5NWEyZmY2YTFhNGE2ZGE4IiwiaCI6Im11cm11cjY0In0=
